img { width: 100% }
#box1{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}
#box2{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}
#box3{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}
#box4{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}
#box5{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}
#box6{
  width: 170.92px ;
  height: 230px ;
  display: inline-block;
}